---
import "@fontsource/bebas-neue";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>Jesse Sibley</title>
    <meta
      name="description"
      content="Jesse Sibley is a Software Engineer at VEED based in London."
    />
    <meta name="author" content="Jesse Sibley" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
